.detail {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  margin: 10px 100px;
}

.leftDetail,
.rightDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}

.rightDetail {
  justify-content: center;
}

.description {
  min-width: 100px;
}

.productImg {
  height: 50%;
  object-fit: scale-down;
  margin-top: 20px;
}
