.detail {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  margin: 10px 100px;
}

.leftDetail,
.rightDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  width: 50%;
}

.rightDetail {
  align-items: start;
}

.leftDetail {
  align-items: center;
}

.description {
  min-width: 100px;
  max-width: 400px;
}

.productImg {
  max-height: 400px;
  object-fit: scale-down;
  margin-top: 20px;
}
