.product img {
  width: 100px;
  height: 150px;
  object-fit: scale-down;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 200px;
  padding: 5px;
}

.product .title {
  color: #191919;
  font-weight: bold;
}

.product .title .p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
